{% extends 'base.html' %}

{% block head %}
    {% if game %}
        <title>Spel: {{ game.name }}</title>
    {% else %}
        <title>Onbekend spel</title>
    {% endif %}
{% endblock%}


{% block body %}
{% if game %}
<div class="container">
    <h1>{{ game.name }}</h1>
    <p>Laatst gewijzigd: {{ game.pub_date|date:'Y-m-d H:i' }}</p>
    <p>Gemaakt door: {{ game.author }}</p>
</div>

<div class="container">
    <h2>Beschrijving</h2>
    <p>{{ game.description }}</p>
</div>

<div class="container">
    <h2>Benodigdheden</h2>
    {% if game.materials %}
        <div class="card">
            <div class="card-body">
                {{ game.materials }}
            </div>
        </div>
<!--        {% for material in game.materials %}-->
<!--        <li>{{ material.quantity|stringformat:"02d" }}: {{ material.name }}</li>-->
<!--        {% endfor %}-->
    {% else %}
        <li>Geen materiaal nodig!</li>
    {% endif %}
</div>
{% endif %}

{% endblock %}